<html>
	<head>
		<title>$action.getText('threaddump.scheduled')</title>
	</head>
	<body>
        <content tag="selectedWebItem">admin.threaddumplink</content>
        <p class="thread-dump-scheduled">
        $action.getText('threaddump.scheduled.message', [$action.count, $action.intervalSeconds])
        </p>
        <p>
        $action.getText('threaddump.scheduled.back', ["threaddump.action", $action.getText('threaddump.title')])
        </p>
        #parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>